body {
    margin: 0px;
    padding-top: 40px;
    padding-bottom: 70px;
}

.recipes ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 60px 0;
}

.recipes li {
    padding: 20px;
    margin: 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.title {
    display: block;
    background-color: rgb(92, 164, 232);
    padding: 10px 0px 10px 20px;
}

.recipes {
    background-color: white;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    text-align: left;
    background-color: rgb(92, 164, 232);
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    text-align: center;
    background-color: rgb(92, 164, 232);
    }

.recipes img {
    height: 150px;
}