body {
    margin: 0px;
    border: 2px solid red;
}

ul {
    list-style: none;
    border: 2px solid red;
}

li {
    display: inline-block;
    padding: 10px;
    border: 2px solid red;
}

a {
    text-decoration: none;
    color: rgb(62, 155, 191);
    border: 2px solid red;
}

.divTitle {
    display: block;
    background-color: darkgray;
    padding: 10px 0px 10px 20px;
    border: 2px solid red;
}

.divRecipes {
    display: inline-block;
    background-color: white;
    border: 2px solid red;
}